# Generated images and large build artifacts
*.img
*.qcow2
*.raw
*.iso
.work/
aports/

# macOS
.DS_Store
._*

# Temporary EFI build outputs
efi-fallback/BOOTX64.EFI

# Python
__pycache__/
*.pyc

# Virtualenv
.venv/

# Qt venv
.qtvenv/
